.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: screen;
    padding: 1%;
}
.first-sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second-sec{
   text-align: center;
   font-size: small;
}

.in2infof{
    width:  16%;
}
.LogoCon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo{
    width: 50%;
}

.main-links{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.links1{
    display: flex;
    width: 60%;
   justify-content: center;
   align-items: center;
    flex-direction: column;
}
.links2 {
display: flex;
align-items: center;
justify-content: center;
gap: 35px;
width: 100%;
font-size: 1.2em;
}
.links2 a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.links2 a:hover{
    text-decoration: underline;
    color: rgba(44, 43, 43, 0.751);
}
.sitemanagerrr{
    font-weight: bold;
    color: rgba(53, 51, 51, 0.903);
}
.second-sec a{
text-decoration: none;
}
.links1 h2{
    font-size: larger;
}

@media only screen and (max-width: 720px) {
    .main-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    }

    .links2{
    flex-direction: column;
    gap: 19px;
    }
    .in2infof{
        width:  20%;
    }
}