@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
}
.footer{
    text-align: center;
    width: 100%;
}
.first-sec{
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.main-links{
    margin: 2%;
    display: flex;
    text-align: center;
    gap: 200px;
}
.links{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.links a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.links a:hover{
    color: #494949;
    text-decoration: underline;
}
.Logo{
    padding: 2% 3%;
}
.Logo img{
    height: 80px;
    width: 200px;
}
.second-sec{
    padding: 2% 0%;
    flex-direction:row;
    font-size: 15px;
}
.second-sec img{
    height: 25px;
    width: 150px;
}
@media screen and (max-width: 690px) {
    .first-sec {
        width: 80%;
        padding: 0% 5%;
        flex-direction: column;
        align-items: center;
    }

    .main-links {
        flex-direction: column;
        gap: 50px;
        padding: 0 5%;
    }

    .links {
        padding: 0 5%;
        gap: 10px;
    }

    .links a {
        font-size: 16px;
    }

    .Logo img {
        padding: 2% 8%;
        height: 60px;
        width: 150px;
    }

    .second-sec {
        padding: 2% 5%;
        text-align: center;
    }

    .second-sec img {
        height: 20px;
        width: 120px;
    }
}